 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background: #eeedfe;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 24px rgba(83,74,183,0.50);
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
    
}
/* screens */
.screen {
    display: none;
    padding: 2rem;
    text-align: center;
}

.screen.active{
    display: block;
}
#start-screen h1{
    color: orange;
    margin-bottom: 20px;
    font-size: 2.5rem;

}
#start-screen p{
 color: #666;
 margin-bottom: 30px;
 font-size: 1.1rem;
}

.quiz-header{
    margin-bottom: 2rem;
}

#question-text{
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.4;
}
.quiz-info{
    display: flex;
    justify-content: space-between;
    color: #666;
    font-size: 1rem;
}
.answer-btn{
    background-color: black;
    columns: #333;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    text-align: left;
    margin-left: 10px;
}


.answer-btn.correct{
    background-color: green;
    border-color: white;
    color: greenyellow;
}
.answer-btn.incorrect{
    background-color: red;
    border-color: rebeccapurple;
    
}
.progress-bar {
height: 10px;
background-color: #f8f0e5;
border-radius: 5px;
overflow: hidden;
margin-top: 20px;
}

.progress{
height: 100%;
background-color: #e86a33;
width: 0%;
transition: width 0.3s ease;}
/*result screen */
#result-screen h1 {
color: O#e86a33;
margin-bottom: 30px;
}

.result-info {
background-color: #f8f0e5;
border-radius: 10px;
padding: 20px;
margin-bottom: 30px;
}
.result-info p {
font-size: 1.2rem;
color: O#333;
margin-bottom: 1rem;
}
#result-message {
font-size: 1.5rem;
font-weight: 600;
color: #e86a33;
}

button {
background-color: #e86a33;
color: white;
border: none;
border-radius: 10px;
padding: 15px 30px;
font-size: 1.1rem;
cursor: pointer;
}
@media (max-width:500px) {
    .screen{
        padding: 1rem;
    }
    #start-screen h1 {
font-size: 2rem;

    }

#question-text{
font-size: 1.3rem;

}

.answer-btn {
padding: 12px;
}

button {
padding: 12px 25px;
font-size: 1rem;
}
}


